.cart-drop {
  max-width: 80rem;
  margin: 0 auto;
  padding-block: 2.5rem;

  .cart-row {
    display: flex;
    gap: 1.5rem;

    & > * {
      flex: 1 1 auto;
			overflow: hidden;
    }

    .store-container {
      min-height: calc(100vh - 5rem);
      border: 0.0625rem solid #ccc;
      border-radius: 0.25rem;
    }

    .cart-container {
      border: 0.0625rem solid #ccc;
      border-radius: 0.25rem;
    }

    ul {
      height: 100%;
      padding: 0;
      margin: 0;
      list-style-type: '';
    }
  }
}

li {
  list-style-type: '';
  background: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: inherit;
  cursor: grab;
  border-bottom: 0.0625rem solid #ccc;

	&:last-child {
		border: none;
	}
}



.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ul.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
