/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./app/core/theme";

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --mdc-text-button-container-shape: 6px;
  --mdc-dialog-container-shape: 10px;

  @include mat.button-overrides(
    (
      filled-container-shape: 6px,
    )
  );
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;

  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: -2,
    )
  );
}

body {
  margin: 0;
  font-family: Geist, Roboto, "Helvetica Neue", sans-serif;
}
